.wrapper
  .home-wrapper
    height: calc(100vh - 64px)
    position: relative
    h1
      text-align: center
      color: white
      font-size: 3.4em
      position: absolute
      margin-top: 50vh
      width: 100%
      z-index: 100 
    .logo-wrapper
      position: absolute
      top: 50%
      left: 0
      transform: translate(0,-50%)
      img.logo
        width: 50vw
